@import 
  'normalize',
  'fonts',
  'mixins',
  'media',
  'variables',
  'utils',
  'globals';

@import
'blocks/field',
'blocks/radios',
'blocks/radio',
'blocks/button',
'blocks/grid',
'blocks/burger-button',
'blocks/header', 
'blocks/cross-button', 
'blocks/mobile-overlay',
'blocks/_section.scss',
'blocks/_hero.scss',
'blocks/puddle-bg',
'blocks/services',
'blocks/service-card',
'blocks/banner',
'blocks/studies',
'blocks/process',
'blocks/team',
'blocks/team-card',
'blocks/pagination',
'blocks/reviews',
'blocks/review-card',
'blocks/contact-us',
'blocks/soc1als',
'blocks/subscribe-form',
'blocks/footer';